@import './normalize.css';

h1,
h2 {
  text-align: center;
}

/*********************/

* {
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: lightgreen;
}

/* radio: 16 : 9 */
@media (orientation: landscape) {
  .container {
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }

  @media(min-width: calc(100vh * 16 / 9)) {
    .container {
      height: 100vh;
      width: calc(100vh * 16 / 9);
    }
  }
}

@media (orientation: portrait) {
  .container {
    height: 100vh;
    width: calc(100vh * 16 / 9);
  }

  @media(min-height: calc(100vw * 9 / 16)) {
    .container {
      width: 100vw;
      height: calc(100vw * 9 / 16);
    }
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* avatar */
.avatar{
  text-align: center;
}

.avatar img {
  width: 100px;
  height: 100px;
}

.avatar .player-name,
.avatar .player-score {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.player {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.actions button{
  display: block;
  min-width: 100px;
  line-height: 1.5;
  background: rgba(255, 160, 122, 0.432);
  border: none;
  cursor: pointer;
}

.actions button + button{
  margin-top: .5em;
}

.actions {
  padding-top: 2em;
}

.position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: stretch;
  font-size: 5em;
  font-weight: bold;
  padding-right: 10px;
}

.player1 {
  left: 0;
  right: 0;
  top: 0;
  transform: rotate(180deg)
}

.player2 {
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  transform: rotate(-90deg)
}

.player3 {
  left: 0;
  right: 0;
  bottom: 0;
}

.player4 {
  left: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  transform: rotate(90deg)
}

.main .status {
  background: rgba(255, 255, 255, .7);
  padding: 2em 4em;
}